/******** CONTAINER ********/
*{
	 margin: 0;
	 padding: 0;
}
body{
	 background: url(../../ifpiczero/images/1.jpg);
	 font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
	 font-size: 12px;
	 color: #fff;
	 overflow: hidden;
}
h2.title_name {
     font-family: normal Georgia,'Times New Roman',Times,serif;
	 font-weight: normal;
     font-size: 4em;
	 margin: 0;
     padding: 50px 0 20px 0;
     text-align: center;
}
h2.title_name span {
	 font-family: normal Georgia,'Times New Roman',Times,serif;
     color: #f9f66d;
     font-size: 0.9em;
}
h2.title_name small {
     color: #AAAAAA;
     display: block;
     font-family: normal Verdana,Arial,Helvetica,sans-serif;
     font-size: 0.2em;
     letter-spacing: 1.0em;
     text-transform: uppercase;
}
#pp_gallery {
	width: 100%;
	overflow: hidden;
}
.pp_loading{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0px 0px -35px;
	background: #fff url(../icons/loader.gif) no-repeat center center;
	width: 70px;
	height: 70px;
	z-index: 999;
	opacity: 0.7;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.pp_next, .pp_prev{
	width: 32px;
	height: 32px;
	cursor: pointer;
	top: 50%;
	margin-top:-16px;
	position: absolute;
	text-align: center;
	border: 1px solid #111;
	color: #fff;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
}
.pp_next {
	right: -40px;
	background: #333 url(../icons/next.gif) no-repeat center center;
	position: fixed;
	_position: absolute;
}
.pp_next:hover {
	background: #333 url(../icons/next_o.gif) no-repeat center center;
}
.pp_prev {
	left: -40px;
	background: #333 url(../icons/prev.gif) no-repeat center center;
	position: fixed;
	_position: absolute;
}
.pp_prev:hover {
	left: 40px;
	background: #333 url(../icons/prev_o.gif) no-repeat center center;
	position: absolute;
}
#pp_thumbContainer{
	position: fixed;
	_position: absolute;
	bottom: 0px;
	left: 0px;
	height: 165px;
	width: 100%;
	overflow: hidden;
}
#pp_thumbContainer .album{
	width: 200px;
	height: 90px;
	position: absolute;
}
.album .descr,
.pp_back{
	position: absolute;
	bottom: 0px;
	left: -16px;
	background: #222;
	text-align: center;
	border: 1px solid #333;
	padding: 5px;
	cursor: pointer;
	width: 169px;
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 0px 1px #fff;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;
}
.pp_back{
	text-transform: uppercase;
	bottom: 120px;
	left: -100px;
	width: 80px;
}
#pp_thumbContainer .content{
	position: absolute;
	top: 0px;
	height: 155px;
	cursor: pointer;
}
#pp_thumbContainer img{
	border: 5px solid #fff;
	-moz-box-shadow: 1px 1px 7px #000;
	-webkit-box-shadow: 1px 1px 7px #000;
	box-shadow: 1px 1px 7px #000;
}
#pp_thumbContainer .content span{
	display:none;
}
.pp_preview{
	position: absolute;
	top: 150%;
	left: 50%;
}
.pp_preview img{
	position: absolute;
	top: 0px;
	left: 0px;
	border: 10px solid #fff;
	border-bottom: 45px solid #fff;
	-moz-box-shadow: 1px 1px 7px #000;
	-webkit-box-shadow: 1px 1px 7px #000;
	box-shadow: 1px 1px 7px #000;
}
.pp_descr{
	font-size: 20px;
	width: 100%;
	bottom: 10px;
	left: 0px;
	position: absolute;
	text-align: center;
	color: #00021c;
}
